
<div th:fragment="headerPage">
    <div class="container-fluid">

        <div class="row py-my-3" style="color: #ffffff; background-color: #31373e ">
            <div class="col-sm-6 ">
                <div class="container py-my-3" id="headerString">


                </div>
            </div>

            <div class="col-sm-auto text-right py-my-4">
                <div class="container-fluid py-my-3">
                    <a class="btn btn-link" href="/logout"> Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
