<html xmlns:th="http://www.thymeleaf.org">
<csrf disabled="true"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
</head>
<body>


<div id="header">
    <div id="headerPage">
        <div class="container-fluid">

            <div class="row py-my-4" style="color: #ffffff; background-color: #31373e ">
                <div class="col-sm-6 py-my-3">
                    <div class="container py-my-3" id="headerString">

                    </div>
                </div>

                <div class="col-sm-auto text-right py-my-4">
                    <div class="container-fluid py-my-3">
                        <a class="btn btn-link" href="/logout"> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-2" id="mainTabs">

            <!--  Главное меню - переключение юзер/админ-->
        </div>
        <div class="col col-md-10">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active in" id="userPanel">
                    <h2>User information page</h2>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Дополнительные стили (не обязательно) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Подключаем jQuery (необходим для Bootstrap JavaScript) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

<script src = "/js/userJs.js"></script>
</body>
</html>
