<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin</title>
</head>
<body>

<script src="/static/js/sc.js"></script>
<div id=adminTable class="container">
</div>


<script>
 /*   function getRequest() {
        if (window.XMLHttpRequest) { // Mozilla, Safari, ...
            newRequest = new XMLHttpRequest();
            if (newRequest.overrideMimeType) {
                newRequest.overrideMimeType('text/xml');
            }
        } else if (window.ActiveXObject) { // IE
            try {
                newRequest = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    newRequest = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {
                }
            }
        }
        return (newRequest);
    }

    function getResponseObject(req) {
        if (req.readyState == 4) {
            if (req.status == 200) {
                let res = req.responseText;

                let users = JSON.parse(res);
                drawPage(users)
            }
        }
    }

    function drawPage(users) {
        drawTable(users)
    }

    function drawTable(users) {
      //  console.log(users);
        let table = `<table class="table table-condensed table-sm my-n1">
        <caption>
        <th>id</th>
        <th>first name</th>
        <th>last name</th>
        <th>age</th>
        <th>email</th>
        <th>password</th>
        <th>roles</th>
        <th>Edit</th>
        <th>Delete</th>
        </caption>
        <tbody><tr>`
        for (let rowUser of users) {
            console.log(rowUser);
            table += ('<td>'
                + rowUser.user_id + '</td><td>'
                + rowUser.firstName + '</td><td>'
                + rowUser.lastName + '</td><td>'
                + rowUser.age + '</td><td>'
                + rowUser.username + '</td><td>'
                + rowUser["password"] + '</td><td>'
                + rowUser.roles + '</td><td>'
                + ' <input type="button" class="btn btn-primary btn-mini py-1 my-1" data-toggle="modal" value="edit"></td><td>'
                + ' <input type="button" class="btn btn-danger btn-mini py-1 my-1" data-toggle="modal" value="edit"></td>' +
                            '</tr><tr>'
            )
        }

        table += '</tr></table>';
        document.getElementById("adminTable").innerHTML = table;

    }

    function start() {
        let req = getRequest();
        req.onreadystatechange = function () {
            getResponseObject(req)
        };
        req.open("get", "/admin/all", true);
        req.send(null);
    }*/
</script>

<button onclick="sendRequestUsers()">all users</button>

</body>

</html>