<!DOCTYPE html>
<div th:fragment="modalEditContent">

    <div class="modal fade text-center" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" name="qweqewqewqewqwe" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3>Edit user</h3>
                </div>
                <div class="modal-body text-center">


                        <div class="form-group text-center">
                            <label for="editUserName" class="text-center">e-mail</label>
                            <input type="email" name="edit_name" id="editUserName"
                                   class="form-control form-control-sm">
                        </div>

                        <input type="hidden" title="name" name="edit_userID" >

                        <div class="form-group">
                            <label for="editUserPassword" class="text-center">password</label>
                            <input type="password" title="password" name="edit_password"
                                   class="form-control form-control-sm"
                                   id="editUserPassword">
                        </div>

                        <div class="form-group">
                            <label for="editUserFirstName">first name</label>
                            <input type="text" title="first name" name="edit_firstName"
                                   id="editUserFirstName" class="form-control form-control-sm">
                        </div>

                        <div class="form-group">
                            <label for="editUserLastName" class="text-center">last name</label>
                            <input type="text" name="edit_lastName"
                                   id="editUserLastName" class="form-control form-control-sm">
                        </div>

                        <div class="form-group">
                            <label for="editUserAge" class="text-center">age</label>
                            <input type="number" name="edit_age"  id="editUserAge"
                                   class="form-control form-control-sm">
                        </div>

                        <div class="form-group">
                            <label for="editUserRoles" class="text-center">roles:</label>
                            <select name="edit_newUserRoles"
                                    class="form-control selectpicker form-control-sm" multiple
                                    id="editUserRoles">
                                <option name="userRole" id="editUserRole" value="userRole"
                                        >User
                                </option>
                                <option name="adminRole" id="editAdminRole" value="adminRole"
                                        >Admin
                                </option>
                            </select>
                        </div>



                </div>
                <div class="modal-footer align-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="saveChanges">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>